.header-wrap {
  height: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  box-shadow: 0px 20px 12px -20px #000;
}

.header_logo {
  width: 30%;
  text-align: start;
}

.header_logo_img {
  pointer-events: none;
  height: 50px;
}

.header_text {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.header_nav {
  height: 100%;
  display: flex;
  align-items: end;
  width: 30%;
  justify-content: flex-end;
}

.header_nav:first-child {
  border-bottom: #000;
}

.header_link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
  border-bottom: solid 2px transparent;
  margin: 0 5px;
  line-height: 0;
  padding-bottom: 30px;
}

.header_link:first-child {
  border-bottom: solid 2px #fff;
}