.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.control_header {
    text-align: center;
    margin-bottom: 10px;
}

.control_burger-clearer {
    background-image: linear-gradient(to right top, #b6f0fd, #69cdee);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 15px;
}

.control_burger-clearer:hover {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 
    0px 2px 2px 0px rgb(0 0 0 / 14%), 
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}